--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
google-generativeai
python-multipart
requests
gradio_client
PyPDF2
langchain
langchain-google-genai
sentence-transformers
numpy
